.location {background-color: #ffffff; margin-left: 20px;}
.box1 {
  float: left;
  width: 13%;
  height: auto;
  margin-left: 140px;
  text-align: cneter;
}

.box1b {
  float: left;
  width: 13%;
  height: auto;
  margin-left: 140px;
  text-align: cneter;
  margin-bottom: 90px;
}

.box3 {
  float: left;
  width: 100%;
  display: none;
}

.box2 {
  width: 100%;
  heigh: 100%;
  float: left;
  margin-left: 0px;
  margin-top: 10px;
}


.box2a {
  width: 100%;
  heigh: 100%;
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}


#mclb1status {
  margin-top: 10px;
}
#mclb2status {
  margin-top: 10px;
}
#frcwp1status {
  margin-top: 15px;
}

#ddg1status {
  margin-top: 15px;
}

#cvn1status {
  margin-top: 10px;
}

#cvn2status {
  margin-top: 10px;
}

#ssn1status {
  margin-top: 35px;
}

#mclbbar1 {
  margin-top: -75px;
}

#mclbbar2 {
  margin-top: -75px;
}

#frcwpbar1 {
  margin-top: -60px;
}

#ddgbar1 {
  margin-top: -75px;
}

#cvnbar1 {
  margin-top: -60px;
}

#cvnbar2 {
  margin-top: -80px;
}

#ssnbar1 {
  margin-top: -75px;
}

#ddgprinter1 {
  margin-top: 25px;
}

#cvnprinter1 {
  margin-top: 10px;
}

#cvnprinter2 {
  margin-top: 20px;
}

#ssnprinter1 {
  margin-top: 25px;
}

.box4 {
  width: 70%;
  float: left;
  margin-left: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

.box4a {
  width: 70%;
  float: left;
  margin-left: 0px;
  margin-bottom: 30px;
  margin-top: 10px;
  display: flex;
}


.box5 {
  width: 10%;
  height: 10%;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.box5a {
  width: 10%;
  height: 10%;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.ldBar-label2 {
    color: red;
    font-family: tahoma;
    font-size: 0.9em;
    font-weight: 90
    margin: 0;
}

